.button {
    background-color: #66A3D2;
    border-bottom: 5px solid #3F92D2;
}
.button:hover, .button:active {
    background-color: #3F92D2;
}

a:link {
    color: #66A3D2;
}
a:visited {
    color: #0B61A4;
}
a:hover, a:active {
    color: #3F92D2;
}

p, li {
    font-weight: 300;
}

header {
    background-color: #66A3D2;
    height: 300px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

section, footer {
    padding-top: 20px;
}
section {
    padding-bottom: 20px;
}


#title {
    margin-top: 200px;
}
#title .subheader {
    color: #FFF;
}

#signup {
    margin-top: 300px;
    z-index: 0;
}
#signup .button {
    margin-bottom: 0;
}
#signup p.subheader{
    font-size: 14px;
}

footer {
    background-color: #444;
    color: #DDD;
}
footer h3 {
    color: #DDD;
}
nav.fixed, [data-magellan-expedition] {
    background-color: inherit;
}
nav.fixed {
    left: auto;
}
.sub-nav dd {
    margin: 0px;
    padding: 0 0.5rem;
    border-bottom: 2px solid #888;
}
.sub-nav dd a:link, .sub-nav dd a:visited {
    color: #888;
}
.sub-nav dd a:hover, .sub-nav dd a:active {
    color: #DDD;
}
.sub-nav dd.active-section {
    border-bottom: 2px solid #DDD;
}
.sub-nav dd.active-section a:link, .sub-nav dd.active-section a:visited {
    color: #DDD;
}

@media only screen and (min-width: 64.063em) {
    nav.fixed {
        min-width: 0;
        width: auto;
    }
    .sub-nav dd {
        border-bottom: none;
        border-left: 2px solid #888;
        display: block;
        float: none;
    }
    .sub-nav dd.active-section {
        border-bottom: none;
        border-left: 2px solid #DDD;
    }
}
