@import "settings";
@import "foundation";
@import "compass/layout/sticky-footer";

.button {
    border-bottom: 5px solid $alternate-color;
}

p, li {
    font-weight: $body-font-weight;
}

section, footer {
    padding: 20px 0;
}

.top-bar .name h1 a {
    padding: 0;
}

.ng-view {
    padding: 0;
}

#navbar {
    background-color: $primary-color;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2; 
}
#navbar section {
    padding: 0;
}
ul.title-area {
    position: relative;
    bottom: 5px;
}
#post-nav-header {
    margin-top: 45px;
    position: relative;
    z-index: 0;
}
#post-nav-header #title {
    width: auto;
}
#post-nav-header h2 {
    color: #FFF;
}

.avatar-thumb {
    width: 45px;
    height: 45px;
    overflow: hidden;
    background-color: inherit;
}

.avatar-thumb img {
    width: 45px;
}

.avatar-full img {
    max-width: 100%;
}

#title .subheader {
    color: #FFF;
}

footer {
    color: #DDD;
    padding-bottom: 0;
}
footer h3 {
    color: #DDD;
}

nav.fixed, [data-magellan-expedition] {
    background-color: #444;
}
nav.fixed {
    left: auto;
}
.sub-nav dd {
    margin: 0px;
    padding: 0 0.5rem;
    border-bottom: 2px solid #888;
}
.sub-nav dd a:link, .sub-nav dd a:visited {
    color: #888;
}
.sub-nav dd a:hover, .sub-nav dd a:active {
    color: #DDD;
}
.sub-nav dd.active-section {
    border-bottom: 2px solid #DDD;
}
.sub-nav dd.active-section a:link, .sub-nav dd.active-section a:visited {
    color: #DDD;
}

.d-btn, .d-btn-simple {
}

@media only screen and (min-width: 64.063em) {
    nav.fixed {
        min-width: 0;
        width: auto;
    }
    .sub-nav dd {
        border-bottom: none;
        border-left: 2px solid #888;
        display: block;
        float: none;
    }
    .sub-nav dd.active-section {
        border-bottom: none;
        border-left: 2px solid #DDD;
    }
}
