@import "settings";

#post-nav-header {
    height: 255px;
    background-color: $primary-color;
}
#post-nav-header #title {
    position: absolute;
    bottom: 10px;
}

#signup {
    margin-top: 300px;
    z-index: 0;
}
#signup .button {
    margin-bottom: 0;
}
#signup p.subheader{
    font-size: 14px;
}


.dashboard-main h3 {
    margin-bottom: 20px;
}

.dashboard-main h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.dashboard-main p.subheader {
}
