<div class="row">
    <div class="small-12 medium-6 large-4 medium-centered columns">
        <h3 class="subheader text-center">Login</h3>
        <form action="/users/session" method="post">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <button type="submit" class="button expand">Login</button>
        </form>
    </div>
    <p class="subheader text-center">Alternatively, sign in with <a href="/auth/facebook">Facebook</a> or <a href="/auth/twitter">Twitter</a></p>
    <p class="subheader text-center">Don't have an account? <a href="/">Sign up for an account</a></p>
</div>
<hr>
