<div class="row">
    <div class="small-12 medium-6 large-4 medium-centered columns">
        <h3 class="subheader text-center">Success!</h3>
        <h6 class="subheader text-center">Thank you for signing up! We will contact you soon when Unoya is ready to launch.</p>
        <h6 class="subheader text-center">Meanwhile, follow us on <a href="https://www.facebook.com/unoya.life">Facebook</a> and <a href="https://twitter.com/_unoya">Twitter</a> for the latest news and updates!</p>
    </div>
</div>
<hr>
