/* line 3, ../../scss/home.scss */
header {
  background-color: #66a3d2;
  height: 300px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

/* line 13, ../../scss/home.scss */
header h1.subheader, header h2.subheader {
  color: #FFF;
}

/* line 17, ../../scss/home.scss */
#title {
  position: absolute;
  bottom: 10px;
}

/* line 22, ../../scss/home.scss */
#signup {
  margin-top: 300px;
  z-index: 0;
}

/* line 26, ../../scss/home.scss */
#signup .button {
  margin-bottom: 0;
}

/* line 29, ../../scss/home.scss */
#signup p.subheader {
  font-size: 14px;
}

/* line 33, ../../scss/home.scss */
.page {
  margin-top: 100px;
  height: 300px;
}
