<div class="dashboard-main" data-ng-controller="CampaignsController">

    <header id="post-nav-header">
        <div class="row">
            <div id="title" class="small-12 columns">
                <h2>{{title}} <small>{{subtitle}}</small></h2>
            </div>
        </div>
    </header>

    <section class="dashboard-main">
        <div class="row">

            <div class="small-12 medium-8 large-12 medium-centered columns">
                <!--
                <h3>Recent Activity</h3>
                    <ul class="no-bullet">
                        <li class="campaign-post" ng-repeat="activity in activities">
                            <span class="date subheader">{{activity.date}}</span> You posted on {{activity.target}}'s unoya campaign.
                            <blockquote>{{activity.message}}</blockquote>
                        </li>
                    </ul>

                <hr>
                -->

                <h3>Recent Campaigns</h3>
                <div id="campaigns" class="row">
                    <div class="small-12 medium-6 large-4 columns campaign" ng-repeat="campaign in campaigns">
                        <div class="row">
                            <a href="#/campaign/{{campaign._id}}"><div class="small-3 medium-12 columns campaign-thumb"><img src="{{campaign._creator.picture}}"></div></a>
                            <div class="small-9 medium-12 columns">
                                <h4><a href="#/campaign/{{campaign._id}}">{{campaign._creator.f_name}} {{campaign._creator.l_name}}</a></h4>
                                <p class="subheader">{{campaign.short_desc}}</p>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>

            </div>

        </div>
    </section>

</div>
