<div class="dashboard-main" data-ng-controller="CampaignsController">

    <header id="post-nav-header">
        <div class="row">
            <div id="title" class="small-12 columns">
                <h2>Start a Campaign <small>Coming Soon!</small></h2>
            </div>
        </div>
    </header>

    <section class="dashboard-main">
        <div class="row">

            <div class="small-12 medium-8 large-12 medium-centered columns">
                <!--
                <h3>Recent Activity</h3>
                    <ul class="no-bullet">
                        <li class="campaign-post" ng-repeat="activity in activities">
                            <span class="date subheader">{{activity.date}}</span> You posted on {{activity.target}}'s unoya campaign.
                            <blockquote>{{activity.message}}</blockquote>
                        </li>
                    </ul>

                <hr>
                -->

                <h3>Suggest a Campaign</h3>

                <p>In the future, we want users to be able to create their own campaigns to help make the dreams of their close ones a reality. However, our infrastructure cannot yet support the asynchronous creation of campaigns by all of our users. As such, we are currently not allowing users to create their own campaigns. Fear not, we are working hard to connect with multiple support groups and cancer organizations to find people to help.</p>
                <p>In the meantime, we would love to hear of any suggestions you may have. If you want to suggest a candidate for a campaign, please get in contact with us and we will do our best to work with you to make it happen. Follow us on <a href="http://twitter.com/_unoya">Twitter</a> or <a href="http://facebook.com/unoya.life">Facebook</a> to get in contact with our team and we will respond as soon as we can. Thank you!</p>

            </div>

        </div>
    </section>

</div>
