<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unoya - Let us Live Beautifully</title>
    <link rel="shortcut icon" type="image/ico" href="/img/icons/favicon.ico" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="/js/angular/init.js"></script>
    <script src="/js/angular/app.js"></script>
    <script src="/js/angular/config.js"></script>
    <script src="/js/angular/controllers/index.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>
</head>
<body>
    <header id="header">
        <div class="row">
            <img src="/img/unoya_logo_transparent.png" width=50>
            <div id="title" class="small-12 medium-12 large-8 columns">
                <h1 class="subheader">Welcome to Unoya.<h1>
            </div>
        </div>
    </header>
    <section id="signup" ng-view>
    </section>
    </div>

    <section>
        <div class="row">
            <div class="small-12 columns text-center">
                <h2>Unoya is a crowd-sourcing platform that helps bring joy and beauty to the lives of those diagnosed with cancer.</h2>
                <br><br>
            </div>
        </div>
    </section>

    <footer>
        <div class="row">
            <div class="small-12 large-3 columns">
                <nav data-magellan-expedition="fixed">
                    <dl class="sub-nav">
                        <dd data-magellan-arrival="unoya"><a href="#unoya">Our Story.</a></dd>
                        <dd data-magellan-arrival="how"><a href="#mission">Our Mission.</a></dd>
                    </dl>
                </nav>
            </div>
            <div class="small-12 large-9 columns">
                <a name="unoya" id="unoya"></a>
                <h3 data-magellan-destination="unoya">Our Story.</h3>
                <p>The idea of Unoya first came to life after the story of <a href="http://sf.wish.org/wishes/wish-stories/i-wish-to-be/wish-to-be-batkid">Miles Scott</a>, aka. BatKid, took the world by storm. What started as a small Make-A-Wish event drew over 20,000 people to San Francisco after Miles's story went viral online.</p>
                <div class="flex-video">
                    <iframe src="//player.vimeo.com/video/79541124" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/79541124">Batkid</a> from <a href="http://vimeo.com/sfchronicle">San Francisco Chronicle</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                </div>
                <p>Shortly after, during Christmas time, the story of <a href="https://www.facebook.com/teamlaney7">Delaney 'Laney' Brown</a> garnered the attention of thousands online. Laney was diagnosed with a rare form of cancer, and was terminally ill. Her Christmas wish? She wanted to see carolers as part of her "bucket list" of experiences. On the evening of December 21, over 10,000 people showed up Christmas caroling outside of Laney's house.</p>
                <div class="flex-video">
                    <iframe width="560" height="315" src="//www.youtube.com/embed/HkxHAdXSw-c" frameborder="0" allowfullscreen></iframe>
                </div>
                <p>The stories of Miles and Laney are heartwarming, indeed. In both, Miles's and Laney's, cases, people came together as a community to support the children in their fight against cancer. With the help of social media, Miles's and Laney's stories became worldwide sensations. But these are just two kids who have had to deal with the trauma and hardship that is cancer. There are over 13 million people currently living with cancer in just the US alone. There are people whose stories slip through mainstream media. There are kids whose wishes are not fulfilled by the Make-A-Wish foundation. What about them?</p>
                <a name="mission" id="mission"></a>
                <h3 data-magellan-destination="how">Our Mission.</h3>
                <p>Unoya is a crowd-sourcing platform for cancer patients. The word 'eunoia' (pronounced unoya) comes from the greek word εὔνοια, which means beautiful thinking or a well mind. Unoya was founded under the belief that living with an illness should not hinder or detract from the quality of one's life. When diagnosed with cancer, many patients lose their sense of purpose and feel disengaged with life. Given the recent popularity of crowd-sourcing platforms, we know that social media can be used to support those diagnosed with cancer and help them achieve their dreams. We're here to show them that life can be beautiful, even with cancer. We're here to introduce them to Unoya.</p>
                <p>We aim to use social connections to help cancer patients achieve their goals and aspirations. Think of us as a "Kickstarter Make-A-Wish". The main focus of Unoya is to utilize social media to increase awareness and generate support for patients and families affected by cancer. Join us at Unoya, and share these stories with the rest of the world.</p>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <ul class="inline-list">
                    <li>Unoya &copy; 2013</li>
                    <li><a href="https://www.facebook.com/unoya.life">Facebook</a></li>
                    <li><a href="https://twitter.com/unoyalife">Twitter</a></li>
                </ul>
            </div>
        </div>
    </section>

    <script src="/bower_components/jquery/jquery.js"></script>
    <script src="/bower_components/foundation/js/foundation.min.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.magellan.js"></script>
    <script src="/bower_components/foundation/js/foundation/foundation.alert.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>
