<div data-ng-controller="SettingsController">

    <header id="post-nav-header">
        <div class="row">
            <div id="title" class="small-12 columns">
                <h2>{{title}} <small>{{subtitle}}</small></h2>
            </div>
        </div>
    </header>

    <section class="dashboard-main">
            <div class="row">
                    <div class="small-12 large-8 columns">
                    <section data-alert class="alert-box {{message.type}}" ng-if="message">
                        {{message.description}}
                    </section>
                    <form ng-submit="update()">
                        <div class="row">
                            <div class="small-12 medium-6 columns">
                                <label>First Name</label>
                                <input type="text" name="f_name" ng-model="user.f_name">
                            </div>
                            <div class="small-12 medium-6 columns">
                                <label>Last Name</label>
                                <input type="text" name="l_name" ng-model="user.l_name">
                            </div>
                            <div class="small-12 columns">
                                <label>Email Address</label>
                                <input type="email" name="email" ng-model="user.email">
                            </div>
                            <div class="small-12 medium-6 columns">
                                <label>Username</label>
                                <input type="text" name="username" ng-model="user.username">
                            </div>
                            <div class="hide-for-small medium-6 columns">
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 medium-6 columns">
                                <button type="submit" class="button expand">Save Changes</button>
                            </div>
                            <hr>
                        </div>
                    </form>
                    <!--
                    <div class="row">
                        <div class="small-12 medium-6 columns">
                            <a class="button expand">Connect with Facebook</a>
                            <a class="button expand alert" ng-if="user.facebook">Disconnect Facebook</a>
                        </div>
                        <div class="small-12 medium-6 columns">
                            <a class="button expand">Connect with Twitter</a>
                            <a class="button expand alert" ng-if="user.twitter">Disconnect Twitter</a>
                        </div>
                        <hr>
                        <div class="small-12 medium-6 medium-centered columns">
                            <a class="button expand" ng-if="localProvider">Change Password</a>
                        </div>
                    </div>
                    -->
                </div>
                <div class="small-12 large-4 columns text-center"> 
                    <label>Avatar</label>
                    <img src="{{user.picture}}">
                    <!--
                    <ul class="side-nav text-center">
                        <li><a href="#">Upload Picture...</a></li>
                        <li><a href="#">Use Facebook Profile Picture</a></li>
                        <li><a href="#">Use Twitter Profile Picture</a></li>
                    </ul>
                    -->
                </div>
            </div>
    </section>
</div>
